* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.container {
    margin: 10% 40%;
    padding: 20px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    width: 300px;
}

.image {
   
    width: 250px;
    margin: 6px;
    border-radius: 10px;
}

h1 {
   color: hsl(218, 44%, 22%);
   margin-top: 20px;
   font-size: 20px;
   text-align: center;
}

p{
    box-sizing: border-box;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    
  
}

